<style>
table {
	border: 1px solid #9E9E9E;
}

th {
	text-align: left;
	background-color: #9E9E9E;
	color: black;
}

td {
	padding-right: 15px;
}

h1 {
	text-decoration: underline;
}
</style>
<body>
	<table style="border: none">
		<tr>
			${if icon}
			<td><img src="${icon}" width="100" height="100"></td> ${end}

			<td valign="top"><u>
					<h1>${title}</h1>
			</u> ${if website} <strong><a href="${website}">${author}</a></strong>
				${if email} <a href="mailto:${email}">&lt;${email}&gt;</a>${end}<br>
				${else} <strong>${author}</strong><br> ${end} <code>${package}</code></td>
		</tr>
	</table>
	${if description}
	<p>
	<div width="700">${description}</div>
	${end} ${if showpermissions}
	<p>
	<table width="100%">
		<tr>
			<th>${i18n_permissions}</th>
		</tr>
		<tr>
			<td>
				${if permissions_list}
				<ul>
					${foreach permissions_list item}
					<li>${item} <sup><a href="http://www.onyxbits.de/raccoon/permission/${item}">[?]</a></sup></li>${end}
				${else}
				<em>${i18n_permissions_none}</em>
				${end}
			</td>
		</tr>
		</ul>
	</table>
	${end} ${if changelog}
	<p>
	<table width="100%">
		<tr>
			<th>${i18n_changelog}</th>
		</tr>
		<tr>
			<td>${changelog}</td>
		</tr>
	</table>
	${end}

	<p>
	<table width="100%">
		<tr>
			<th>${i18n_size}</th>
			<th>${i18n_date}</th> ${if version}
			<th>${i18n_version}</th>${end}
			<th>${i18n_price}</th>
			<th>${i18n_installs}</th>
			<th>${i18n_rating}</th>
		</tr>
		<tr>
			<td>${size}</td>
			<td>${date}</td> ${if version}
			<td>${version}<br>[${vcode}]
			</td>${end}
			<td>${price}</td>
			<td>${installs}</td>
			<td>${rating}</td>
		</tr>
	</table>
</body>
</html>
